---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - bee8a4483075fabf2bced6a407f9256d/8252074120977605115;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "49.229.162.85",
          "city": "",
          "region": "",
          "country": "TH",
          "loc": "13.7500,100.4667",
          "org": "AS131445 ADVANCED WIRELESS NETWORK COMPANY LIMITED"
        }
  recorded_at: Mon, 30 Oct 2017 10:18:27 GMT
recorded_with: VCR 3.0.3
