---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/?token=test_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 8e8a5353e12c1d4493ad4a95a78dd40d/1612664268105736828;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "110.168.82.111",
          "hostname": "ppp-110-168-82-111.revip5.asianet.co.th",
          "city": "Chiang Rai",
          "region": "Changwat Chiang Rai",
          "country": "TH",
          "loc": "19.9000,99.8333",
          "org": "AS17552 TRUE INTERNET CO., LTD.",
          "postal": "57000"
        }
  recorded_at: Tue, 31 Oct 2017 17:12:11 GMT
recorded_with: VCR 3.0.3
