---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/2601:9:7680:363:75df:f491:6f85:352f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 7b6305380db6376a46a4a58f24520c52/2179280618085498947;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "2601:9:7680:363:75df:f491:6f85:352f",
          "city": "",
          "region": "",
          "country": "US",
          "loc": "37.7510,-97.8220",
          "org": "AS7922 Comcast Cable Communications, LLC"
        }
  recorded_at: Mon, 30 Oct 2017 14:25:29 GMT
recorded_with: VCR 3.0.3
