---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/195.233.174.116
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 791848daee3a9c12863fa02834e74e36/13784943420572048277;o=0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "195.233.174.116",
          "city": "",
          "region": "",
          "country": "DE",
          "loc": "51.2993,9.4910",
          "org": "AS12663 Vodafone Italia S.p.A."
        }
  recorded_at: Mon, 30 Oct 2017 14:23:12 GMT
recorded_with: VCR 3.0.3
